<a href="https://colab.research.google.com/github/spandanag333/ML_Projects/blob/main/decisiontree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np  
import pandas as pd 
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier

In [ ]:
iris_data=load_iris()
iris=pd.DataFrame(iris_data.data)
iris

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [ ]:
print("features",iris_data.feature_names)
iris.head()

features ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [ ]:
iris.columns=iris_data.feature_names
iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [ ]:
print("target",iris_data.target_names)
iris.head()

target ['setosa' 'versicolor' 'virginica']

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [ ]:
  iris.shape

(150, 4)

In [ ]:
iris['type']=iris.target.apply(lambda x:iris.target_names[x])

AttributeError: ignored

In [ ]:
x=iris.values[:,0:4]
y=iris_data.target
print(x)
print(y)

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.3,random_state=3)

In [ ]:
clf=DecisionTreeClassifier(random_state=5)
clf.fit(xtrain,ytrain)

In [ ]:
#pred
x=[[6.4,1.7,6.6,2.1]]
y_pred=clf.predict(x)
print(y_pred)


#y_pred=clf.predict(xtest)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
print("accuracy=",accuracy_score(ytest,y_pred))

In [ ]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(ytest,y_pred)
cm

In [ ]:
#plot decision tree

In [ ]:
from sklearn import tree
tree.plot_tree(clf)

In [ ]:
textrep=tree.export_text(clf)
print(textrep)